body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#background {
  min-height: 100%;
  width: 100%;
  background-size: 100%;
  background-repeat: repeat;
  background-color: #000;
  top: -50%;
  bottom: -50%;
}

h1 {
  margin-top: 4vh;
  text-align: center;
  color: white;
  text-transform: uppercase;
}
#onlyButton {
    margin: auto;
    display: flex;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
    background-color: white;
    color: black;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
    border: none;
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

img {
  height: 60vh;
  width: 50vw;
  margin: auto;
  margin-top: 10vh;
  object-fit: cover;
  margin-left: 5vw;
  border: 2px solid whitesmoke;
  padding: 20px;
}

#row {
  display: flex;
  flex-direction: row;
}

#text {
  color: black;
  text-align: justify;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 10vh;
}

p {
  line-height: 1.5;
  background-color: whitesmoke;
  padding: 20px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}


h5 {
  color: whitesmoke;
  margin: auto;
  text-align: center;
  font-size: large;
}

h4 {
  background-color: whitesmoke;
  padding: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

h3 {
  background-color: whitesmoke;
  padding: 10px;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  font-weight: bold;
}
